
$c-t: red;


.div-s-Arte{
    margin-top: 70px;
    h2{
        margin-left: 5vw;
    }
}



.slide{
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5vh;
    box-shadow: 0 0 20px black;
}
.container{
    margin: 0 auto;


width: 90%;

.card{
    margin-top: 4vh;
    margin-left: 2vw;
    margin-right: 2vw;
    float: left;

    .card-text{
        text-align: justify;

    }
    img{
        transition: .4s;
    }
    img:hover{
        transform: scale(1.1);
        box-shadow: 0 0 20px black;
        border-radius: 8px;
    }
}
.card2{

    float: left;
}
.card3{
    text-align: center;
}

}
footer {
    background-color: #666;
    padding-top: 5em;
    padding-bottom: 40px;
    border-top: 5px solid #3381f3;


footer h2, footer p, footer a, footer span{
    color: #D1D1D1;
}

footer h2{
    font-weight: 400;

}
a{
  text-decoration: none !important;
  outline: none !important;
  font-size: 20px !important;
  color:#D1D1D1 !important;
}


footer ul{
    padding: 0;
}

footer li{
    list-style: none;
}


}



  .footer-box{
    width: 31%;
    padding: 1%;
    float: left;
    margin-left: 10vw;
  }

  footer .wrapper:after {
  clear:both;
  content:"";
  display: block;
  }

  .company-footer{
    width:80%;
  }



  .company-footer p{
  margin-bottom: 20px
  }

  .footer-list li{
    margin-bottom: 15px;
  }

  .footer-list a {
    transition: .5s;
  }

  .footer-list a:hover{
    color: #FFF;

  }
  .footer-list li:after{
    clear:both;
    content:"";
    display: block;
  }

  .articles-footer{
    width: 80%;
  }

  .footer-list.footer-article-list span{
    display: block;
    float: none
  }

  .fab {
    font-size:30px;
    margin-right: 10px;
    float: left;
  }

  .footer-list li span{
    float: left;
    height: 30px;
    line-height: 30px;

  }

  .footer-bottom {
    border-top: 1px solid #B2B2;
  }

  .footer-bottom p{
    font-weight: 600px;
    margin-top: 40px;
  }